*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset,
button {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  padding-inline-start: 18px; /*для компенсации скролла в 18px*/
}

/* ====================== ЛЕВЫЙ БЛОК ======================== */

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-block-end: 3px; /*для того, чтобы кнопки в состоянии focus
  с outline оказались на одном уровне*/
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* =============== фильтры ================*/

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  inline-size: 711px;
  block-size: 54px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 5px;
  border: none;
}

.search-form__fieldset:nth-child(2) {
  padding-block-end: 5px;
  inline-size: 212px;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:hover:has(.search-form__checkbox) {
  text-decoration: underline;
  text-underline-position: under;
}

.search-form__label:hover {
  cursor: url("../images/image\ 51.png"), auto;
}

.search-form__label:active {
  outline: none;
}

.search-form__label-text {
  font-weight: 400;
}

.search-form__label-text:active {
  text-decoration: none;
}

.search-form__textfield {
  border-inline-start: none;
  border-inline-end: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  padding: 2.5px 0;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  inline-size: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:hover {
  text-decoration: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  outline: none;
}

/* ================ Checkbox ==================*/

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  width: fit-content;
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  background-color: transparent;
  inline-size: 19px;
  block-size: 19px;
}

input[type="checkbox"]:checked + span {
  background-image: url(../images/Group\ 38.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

input[type="checkbox"]:active + span {
  background-image: url(../images/Group\ 38.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* =================== button =================== */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration-line: underline;
  cursor: url("../images/image\ 51.png"), auto;
}

.button:active {
  outline: none;
  text-decoration: none;
  background-color: #545050;
}

.search-form__submit-button {
  margin-block-start: 20px;
  inline-size: 194px;
  block-size: 34px;
}

/* ==================== ПРАВЫЙ БЛОК ===================== */

.content__details {
  display: flex;
  flex-direction: column;
  inline-size: 418px;
}

.title {
  padding-block-end: 26px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  inline-size: 100%;
  block-size: 298px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 26px;
}

.content__card-link {
  display: block; /*чтобы применился current*/
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:focus {
  border: none;
}

.content__card-link:hover {
  text-decoration-line: underline;
  text-underline-position: under;
  cursor: url("../images/image\ 51.png"), auto;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link_current {
  margin: 2px;
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
  block-size: 100%;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  /*gap: 6px; убран, т.к. из-за вылезающего за границы шрифта появляется лишний зазор*/
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  /*line-height: 100%; убрано, т.к. появляется горб в состоянии focus*/
}

.content__video-card-description {
  line-height: 90%;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  inline-size: 194px;
  block-size: 103px;
}

.more-button {
  margin: 3px; /*для обводки в состоянии focus*/
  inline-size: 392px; /*уменьшено для обводки в состоянии focus*/
  block-size: 34px;
}